<div>
    <form [formGroup]="createGroup">
        <label>Name: </label>
        <input type="text" id="nameText" [(ngModel)]="user.name" [formControlName] = "'nameText'"><br>
        <label>Last name: </label>
        <input type="text" id="lastnameText" [(ngModel)]="user.lastname" [formControlName] = "'lastnameText'"><br>
        <label>Email: </label>
        <input type="email" id="emailText" [(ngModel)]="user.email" [formControlName] = "'emailText'"><br><br>
        <label>Password: </label>
        <input type="password" id="passwordText" [(ngModel)]="user.password" [formControlName] = "'passwordText'"><br><br>
        <label>Can read: </label>
        <input type="checkbox" id="readCheck" [(ngModel)]="user.canRead" [formControlName] = "'readCheck'"><br>
        <label>Can create: </label>
        <input type="checkbox" id="createCheck" [(ngModel)]="user.canCreate" [formControlName] = "'createCheck'"><br>
        <label>Can update: </label>
        <input type="checkbox" id="updateCheck" [(ngModel)]="user.canUpdate" [formControlName] = "'updateCheck'"><br>
        <label>Can delete: </label>
        <input type="checkbox" id="deleteCheck" [(ngModel)]="user.canDelete" [formControlName] = "'deleteCheck'"><br>
        <button type="submit" (click)="createUser()">Submit</button>
    </form>
</div>
