<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a [routerLink]="'/'" class="navbar-brand">Domaci 3</a>
      <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a [hidden]="(requestService.userInfo.sub !== '')" [routerLink]="'/login'" class="nav-link active" aria-current="page">Login</a>
          <a [hidden]="!requestService.userInfo.can_read" [routerLink]="'/read'" class="nav-link active" aria-current="page">Read users</a>
          <a [hidden]="!requestService.userInfo.can_create" [routerLink]="'/create'" class="nav-link active" aria-current="page">Create user</a>
          <button [hidden]="(requestService.userInfo.sub === '')" (click) = "logout()">Log out</button>
         </div>
      </div>
    </div>
  </nav>
</header>

<div class="container pt-3">
  <router-outlet></router-outlet>
</div>